---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<header>
				<h1>
					<a href="/">amyerose.xyz</a>
				</h1>
				<p>
					Welcome! I'm <strong>Amy</strong>&mdash; I am currently a full-time student majoring in Computer Science. 
					This website is a personal project of mine, where I can practice programming and publish articles I've written.
				</p>
			</header>
			<hr>
			<section>
				<h1>Updates</h1>
				<p>
					<strong>19-10-2024&nbsp;</strong>Everything is now operational! 
					This website is currently being hosted on <a href="#">Neocities</a>, with a custom domain, and
					all of the code should be avaliable to view on my <a href="#">Github</a>.
				</p>
			</section>
		</main>
	</body>
</html>
